.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}
.button {
  background-color: #ffffff;
  border-width: 0px;
  color: #0b69ff;
  font-family: roboto;
  font-size: 20px;
  align-self: flex-end;
}
.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.payment-options {
  list-style-type: none;
}
.payment-item {
  font-family: 'Roboto';
  font-size: 20px;
  color: green;
}
.button-confirm{
  background-color: #0b69ff;
  border-width: 0px;
  height: 40px;
  border-radius: 6px;
}